APP_ENV=dev
APP_SECRET=change_me_events_secret
DATABASE_URL="mysql://app:change_me_db_password@mysql:3306/events?serverVersion=8.4&charset=utf8mb4"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_jwt_passphrase

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|[a-z0-9-]+\.mydashboard\.(local|com))(:[0-9]+)?$'
LOCK_DSN=flock
VAR_DUMPER_SERVER=127.0.0.1:9912

AUTH_SERVICE_URL=http://auth-php:9000
NOTIFICATION_SERVICE_URL=http://nginx
INTERNAL_NOTIFICATION_TOKEN=change_me_internal_notification_token
